/* table styles */
.page-dashboard-sites table {
    width: 100%;
}

/* header styles */
.page-dashboard-sites .block h2 {
    border-bottom: 2px solid #333;
    display: block;
    margin-bottom: 1em;
    margin-top: 0;
    width: 100%;
}

/* pingdom status icons */
.pingdom-up:before, 
.pingdom-down:before,
.pingdom-paused:before,
.pingdom-unknown:before,
.pingdom-unconfirmed_down:before,
.pending:before {
    background-image: url("../img/status-up.png");
    width:77px;
    height: 78px;
    content: "";
    float: left;
    margin-right: 10px;
    display: inline-block;
}
.pingdom-down:before {
    background-image: url("../img/status-down.png");
}
.pingdom-paused:before {
    background-image: url("../img/status-paused.png");
}
.pingdom-unknown:before {
    background-image: url("../img/status-unknown.png");
}
.pingdom-unconfirmed_down:before {
    background-image: url("../img/status-unconfirmed-down.png");
}
.pending:before {
    background-image: url("../img/status-pending.png");
}

/* styles for pingdom status text */
.views-field-field-s-term-status-label p {
    font-size: .8em;
    margin-bottom: 0;
}
.views-field-field-s-term-status-label p:first-child {
    font-size: 1em;
    font-weight: 600;
}
.views-field-field-s-term-status-label strong {
    display: block;
}

/* at a glance blocks */
.content > .view-stanford-dashboard-site-at-a-glance {
 padding: 1em;
 background: #eee;
 min-height: 100px;
}
.content > .view-stanford-dashboard-site-at-a-glance h3 {
  margin-top: 0;  
  font-size: 1.5em;
}
.content > .view-stanford-dashboard-site-at-a-glance h3 a:hover,
.content > .view-stanford-dashboard-site-at-a-glance h3 a:focus {
    text-decoration: underline;
}
.content > .view-stanford-dashboard-site-at-a-glance.view-display-id-up_block h3 a {
    color: #73a12a;
}
.content > .view-stanford-dashboard-site-at-a-glance.view-display-id-paused_block h3 a {
    color: #666;
}
.content > .view-stanford-dashboard-site-at-a-glance.view-display-id-down_block h3 a {
    color: #820000;
}
.view-stanford-dashboard-site-at-a-glance div > a {
    color: #666;
    display: list-item;
    font-size: 0.9em;
    line-height: 1em;
    margin-left: 20px;
}
.view-stanford-dashboard-site-at-a-glance div > a:hover,
.view-stanford-dashboard-site-at-a-glance div > a:focus {
    text-decoration: underline;
    color: black;
}

/* sidebar positioning */
.sidebar {
    margin-top: 18px;
}

/* production type stands out */
.views-field-field-s-site-type .Production {
    font-weight: 600;
}

/* actions dropdown */
.views-field-nothing li {
    list-style: none;
}
.dropdown-toggle {
    background: #eee;
    border: 1px solid #eee;
    display: block;
    height: 25px;
    text-align: center;
    width: 25px;
}
.dropdown-toggle:hover, 
.dropdown-toggle:focus {
    background: white;
    border-color: #666;
}